.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.changeForm{
    width: fit-content;
    height: auto;
    font-size: 15px;
    
}

.switchButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionEntry{
    display:flex;
    flex-direction: row;
    gap:10px;
}

input{
    width: 10%;
    height: auto;
}

